[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ShapeRotator"]
	path = ShapeRotator
	url = https://github.com/marta-vidalgarcia/shaperotator
	shallow = true
	registered = true
